<h1 class="newMusicTitle text-white mt-3">New Music</h1>
    <div class="text-white signupContainer border m-3" style="height:540px">
        <button type="button" id="getMusic" class="button mt-3 btn btn-outline-light">New Playlist</button>
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col"></th>
              <th class="fs-3" scope="col">Title</th>
              <th class="fs-3" scope="col">Artist</th>
              <th class="fs-3" scope="col">Year Released</th>
            </tr>
          </thead>
          <tbody id="tbody">
            
          </tbody>
        </table>
    </div>
    <div class="d-flex justify-content-between">
        <h1 class="newMusicTitle text-white">Liked Music</h1>
        <h3 class="share shareTabLink text-white pointer">Share:
          <a href="https://Facebook.com" target="_blank"><img src="/images/facebookLogo.png" alt="facebook logo" width="30" 
            height="auto"></a>
          <a href="https://twitter.com/" target="_blank"><img src="/images/twitterLogo.png" alt="twitter logo" width="30" 
            height="auto"></a>
          <a href="https:/reddit.com/" target="_blank"><img src="/images/redditLogo.png" alt="reddit logo" width="30" 
            height="auto"></a>
          <a href="https://slack.com/" target="_blank"><img src="/images/slackLogo.png" alt="slack logo" width="30" 
            height="auto"></a>
        </h3>
      </div>
      <div class="signupContainer border m-3">  
        <table class="fluid table table-striped">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col"><b>Title</b></th>
              <th scope="col"><b>Artist</b></th>
              <th scope="col"><b>Year Released</b></th>
            </tr>
          </thead>
          <div>
            <tbody id="tbody1">
              
            </tbody>
          </table>
        </div>
        <div class="p-2">
        </div>
      </div>

    <script src="/js/dashboard.js"></script>
