<h1 class="newMusicTitle text-white mt-5">New Music</h1>
    <div class="signupContainer border m-3" style="height:400px">
        <button type="button" class=" m-3 btn btn-outline-light">New Playlist</button>
    </div>
    
    
    <div class=" shareTab d-flex justify-content-between border m-3">
        <h1 class="d-inline newMusicTitle text-white">Liked Music</h1>
        <h3 class="d-inline text-white">Share:</h3>
    <div class="d-flex justify-content-center"></div>
