<h1 class="text-white text-center mt-5 mb-3">Signup</h1>
    <div class=" signupContainer container border" style="width: 300px">
    <div class="d-flex justify-content-center">
        <form class="create-account">
            <div class="text-white mt-3 mb-3">
            <label for="exampleInputEmail1" class="form-label">Username</label>
            <input type="username" class="text-center form-control" id="InputUsername" placeholder="Enter username here">
        </div>
        <div class="text-white mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" class=" text-center form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email here">
        </div>
        <div class="text-white mb-3">
            <label for="exampleInputPassword1" class="form-label">New password</label>
            <input type="password" class="text-center form-control" id="InputPassword" placeholder="Enter password">
        </div>
         <div class="text-white mb-3">
            <label for="exampleInputConfirm" class="form-label">Confirm password</label>
            <input type="confirm" class="text-center form-control" id="exampleInputConfirm1" placeholder="Confirm password">
        </div>
        <label class="text-white " for="genres">Choose a music genre:</label>
        <select name="genres" id="genres">
        <option value="Rock">Rock</option>
        <option value="Pop">Pop</option>
        <option value="R&B">R&B</option>
        <option value="EDM">EDM</option>
        </select>
        <br><br>
        <div class="d-flex justify-content-center mb-5">
            <button type="submit" class="btn btn-outline-light">Create Account</button>
        </div>
    </div>
    </div>
        </form>

    <script src="/js/add-user.js"></script>   