body {
  color: blueviolet;
  background-color: blueviolet;
}

.heading {
  margin-left: 46%;
}

.signupContainer {
  border-radius: 25px;
}

.newMusicTitle {
  margin-left: 2%;
}

.shareTab {
  margin-left: 75%;
  border-radius: 25px;
}
